html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #00171f;
    font-family: 'Space Mono', monospace;
}

a {
    color: var(--white);
    text-decoration: none;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00171f;
    color: #FFFFFF;
    height: 4.6875rem;
    padding: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
  }
  
  .menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .menu a:hover {
    background: var(--royal-blue-dark);
  }
  
  .btn-menu {
    display: none;
  }
  
  

main {
    place-items: center;
    text-align: center;
    background-image: url(./assets/Design\ sem\ nome\ \(3\).webp);
    background-repeat: no-repeat;
    background-position: 5vw 5vh;
}

main h1{
    display: inline-block;
    color: #00A8E8;
    font-size: 3em;
    font-weight: 700;
    margin-top: 60px;
    background-color: transparent;
}

main h2{
    color: #ffff;
    font-size: 2em;
}

.move{
    border-right: 2px solid rgba(255,255, 255, 0.75);
    color: #ffff;
    font-size: 2em;
    margin-bottom: 60px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blink 500ms steps(40) infinite normal, 
    typing 4s steps(40) 1s normal;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 26em;
    }
}

@keyframes blink{
    from{
        border-right: 2px solid rgba(255,255, 255, 0.75);
    }
    to{
        border-right: 2px solid rgba(255,255, 255, 0.01) ;
    }
}

main a{
    padding: 15px 20px;
    margin-top: 60px;
    background: #00A8E8;
    box-shadow: 0px 4px 20px #584DB3;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}

main a:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background-color: #584DB3;
}

hr{
    border-color: black;
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.servicos h3{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Patua One', cursive;
    font-size: 1.5em;
    margin: 15px 0;
}

.conteiner{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.box{
    width: 35vw;
    background-color: #00A8E8;
    text-align: center;
    box-shadow: 0px 7px 20px 9px rgba(88, 77, 179, 0.4);
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

.box h4{
    font-weight: 700;
    margin-bottom: 10px;
}

.box p {
    text-align: left;
    width: 80%;
    margin: auto;
}

.sobre{
    text-align: center;
    color: #FFFFFF;
    width: 40vw;
    margin: auto;
    margin-bottom: 20px;
}

.sobre h3{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Patua One', cursive;
    font-size: 1.5em;
    margin: 15px 0;
}

.cta{
    color: #FFFFFF;
    font-family: 'Patua One', cursive;
    font-size: 1.5em;
    display: flex;
    gap: 60px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.grid1{
    margin-top: 50px;
    margin-left: 20vw;
}

.grid{
    margin-top: 50px;
    width: 30vw;
}

.cta a{
    padding: 15px 20px;
    background: #584DB3;
    box-shadow: 0px 4px 20px #00A8E8;
    border-radius: 10px 10px 60px 10px;
    color: black;
}

.cta a:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background-color: #00A8E8;
}

.contato{
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.contato h3{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Patua One', cursive;
    font-size: 1.5em;
    margin: 15px 0;
}

.contato p{
    margin-bottom: 15px;
}

.contato img{
    height: 50px;
    gap: 10px;
}

.contato img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.contato p img{
    height: 16px;
}

.contato p img:hover{
    transform: scale(1);
    cursor:default;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    background-color: #141616;
    text-align: center;
    color: #FFFFFF;
}

footer img{
    height: 90px;
    border-radius: 50px;
}

@media (max-width: 1150px){
    main{
        background-image: none;

    }
}

@media (max-width: 900px){
    .cta{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .grid{
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }

    .grid1{
        margin-bottom: 0;
    }
}

@media (max-width: 800px){
    .typing-animation{
        animation: none;
    }

    .move{
        white-space: normal;
        overflow:visible;
        border-right: 0px;
    }
}

@media (max-width: 600px) {
    .menu {
      display: block;
      position: absolute;
      top: 4.6875rem;
      left: 0;
      background-color: #00171f;
      text-align: center;
      width: 100%;
      height: 0;
      z-index: 1;
      visibility: hidden;
      overflow-y: hidden;
      transition: 0.5s;
    }
    .menu a {
      padding: 1rem 0;
      margin-inline: 1rem;
      border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
      border-radius: 0;
    }
    .btn-menu {
      background: none;
      border: none;
      font: inherit;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--white);
      padding: 1rem 0;
      cursor: pointer;
    }
    .hamburger {
      border-top: 0.125rem solid;
      width: 1.25rem;
    }
    .hamburger::after,
    .hamburger::before {
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
      position: relative;
      transition: 0.3s;
    }
    .nav.active .menu {
      height: calc(100vh - 4.6875rem);
      visibility: visible;
      overflow-y: auto;
    }
    .nav.active .hamburger {
      border-top-color: transparent;
    }
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -0.4375rem;
    }

    main{
        width: 80%;
        margin: auto;
    }

    main h1{
        font-size: 2em;
    }

    main h2{
        font-size: 1.5em;
    }

    .move{
        font-size: 1.5em;
    }

    .conteiner{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .box{
        width: 100%;
    }
  }